@import 'button.css';
@import 'index.css';
@import 'input.css';
@import 'to-tictactoe-label.css';

ul {
  align-items: center;
  width: 100%;
  margin: 40px 0 0 0;
  list-style-type: none;
  padding-left: 0;
  user-select: none;
}

li {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.task {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px;
  margin: 0;
  border: 2px solid #1fcaf9;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  width: 100%;
  min-width: 125px;
  font-size: 1.1rem;
  outline: none;
}

label {
  padding-bottom: 2px;
  margin: 0 0 0 10px;
}

@keyframes App-loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
